.App {
  /* height: 100vh; */
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-image: url("./Assets/desktop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 916px;
}
@font-face {
  font-family: Cunia;
  src: url("./Assets/Cunia.otf");
}
.timer-div {
  position: absolute;
  top: 72%;
  left: 50%;
  gap: 2rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-box h2,
.timer-div p {
  font-size: 4rem;
  font-family: "Cunia", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 876px) {
  .App {
    background-image: url("./Assets//phone.png");
    background-position: center;
    background-size: 100% 128%;
    overflow-y: hidden;
  }
  .timer-div {
    top: 49%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 490px) {
  .App {
    background-size: cover;
  }
  .timer-div {
    top: 50%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 419px) {
  .App {
    background-size: 100% 100%;
  }
  .timer-div {
    top: 50%;
    gap: 1rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 797px) {
  .timer-div {
    top: 70%;
  }
}
@media screen and (max-width: 876px) and (max-height: 797px) {
  .App {
    background-image: url("./Assets//phone.png");
    background-position: center;
    background-size: 100% 128%;
  }
  .timer-div {
    top: 48%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 419px) and (max-height: 797px) {
  .App {
    background-size: 100% 100%;
  }
  .timer-div {
    top: 49%;
    gap: 1rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 714px) {
  .timer-div {
    top: 69%;
  }
}
@media screen and (max-width: 876px) and (max-height: 714px) {
  .App {
    background-image: url("./Assets//phone.png");
    background-position: center;
    background-size: 100% 128%;
  }
  .timer-div {
    top: 47.5%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 419px) and (max-height: 714px) {
  .App {
    background-size: 100% 100%;
  }
  .timer-div {
    top: 48.5%;
    gap: 1rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 646px) {
  .timer-div {
    top: 67%;
  }
}
@media screen and (max-width: 876px) and (max-height: 646px) {
  .App {
    background-image: url("./Assets//phone.png");
    background-position: center;
    background-size: 100% 128%;
  }
  .timer-div {
    top: 46%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 419px) and (max-height: 646px) {
  .App {
    background-size: 100% 100%;
  }
  .timer-div {
    top: 47%;
    gap: 1rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 570px) {
  .timer-div {
    top: 66%;
  }
}
@media screen and (max-width: 876px) and (max-height: 570px) {
  .App {
    background-image: url("./Assets//phone.png");
    background-position: center;
    background-size: 100% 128%;
  }
  .timer-div {
    top: 45%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 419px) and (max-height: 570px) {
  .App {
    background-size: 100% 100%;
  }
  .timer-div {
    top: 47%;
    gap: 1rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 1.8rem;
  }
}
