@font-face {
  font-family: Cunia;
  src: url("./Assets/Cunia.otf");
}
.App {
  /* height: 100vh; */
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-image: url("./Assets/Desktop-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Cunia", sans-serif;
  max-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.top-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-bottom: 1rem;
}
.top-app h2 {
  font-size: 3.5rem;
  text-shadow: 0px 0px 12px rgb(0 0 0 / 80%);
}
.top-app h1 {
  font-size: 6.5rem;
  text-shadow: 0px 0px 12px rgb(0 0 0 / 80%);
}
.white-box {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 935px;
  height: 535px;
  gap: 10px;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
.white-box img {
  object-fit: contain;
  max-width: 20%;
}
.white-box h1 {
  font-size: 3rem;
}
.timer-div {
  margin-top: 1rem;
  width: 40%;
  padding: 1rem 0rem;
  border-top: 1px solid #9ff7ff;
  border-bottom: 1px solid #9ff7ff;
  background: -moz-linear-gradient(
    90deg,
    rgba(238, 130, 238, 0) 0%,
    rgba(230, 253, 255, 1) 50%,
    rgba(0, 188, 212, 0) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(238, 130, 238, 0) 0%,
    rgba(230, 253, 255, 1) 50%,
    rgba(0, 188, 212, 0) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(238, 130, 238, 0) 0%,
    rgba(230, 253, 255, 1) 50%,
    rgba(0, 188, 212, 0) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BCD4', endColorstr='#EE82EE', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(238, 130, 238, 0) 0%,
    rgba(230, 253, 255, 1) 50%,
    rgba(0, 188, 212, 0) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(238, 130, 238, 0) 0%,
    rgba(230, 253, 255, 1) 50%,
    rgba(0, 188, 212, 0) 100%
  );
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-box h2,
.timer-div p {
  font-size: 4rem;
  font-family: "Cunia", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 993px) {
  .top-app h2 {
    font-size: 3rem;
  }
  .top-app h1 {
    font-size: 5rem;
  }
  .white-box {
    width: 90%;
  }
  .App {
    background-image: url("./Assets/Mobile-Background.png");
    background-size: cover;
  }
}
@media screen and (max-width: 728px) {
  .top-app h2 {
    font-size: 2rem;
  }
  .top-app h1 {
    font-size: 4rem;
  }
  .white-box {
    width: 95%;
  }
  .white-box img {
    max-width: 25%;
  }
  .timer-div {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .top-app h2 {
    font-size: 2rem;
  }
  .top-app h1 {
    font-size: 3rem;
  }
  .white-box {
    width: 95%;
    height: 400px;
    border-radius: 20px;
  }
  .App {
    padding-top: 5rem;
    justify-content: flex-start;
  }
  .white-box img {
    max-width: 25%;
  }
  .white-box h1 {
    font-size: 2rem;
  }
  .timer-div {
    width: 70%;
  }
  .time-box h2,
  .timer-div p {
    font-size: 2.5rem;
    font-family: "Cunia", sans-serif;
    font-weight: bold;
  }
}
@media screen and (max-width: 433px) {
  .top-app h2 {
    font-size: 1.5rem;
  }
  .top-app h1 {
    font-size: 2rem;
  }
  .white-box {
    width: 95%;
  }
  .white-box img {
    max-width: 30%;
  }
  .timer-div {
    width: 70%;
  }
}
@media screen and (max-height: 666px) {
  .white-box {
    height: 450px;
  }
  .time-box h2,
  .timer-div p {
    font-size: 3rem;
  }
  .white-box img {
    max-width: 25%;
  }
}
@media screen and (max-height: 576px) {
  .white-box {
    height: 80vh;
  }
  .App {
    padding-top: 2rem;
  }
  .time-box h2,
  .timer-div p {
    font-size: 3rem;
  }
  .white-box img {
    max-width: 25%;
  }
}
